<div class="container-fluid">
  <h1 class="ls-title-intro ls-ico-star">Serviço</h1>
  <b>Titulo:</b> <%= @service.title %>
  <b>Descrição:</b> <%= @service.description %>
  <b>Duração:</b> <%= @service.duration %>
  <b>Valor:</b> R$ <%= @service.price %>
</div>
