<aside class="ls-notification">
  <nav class="ls-notification-list" id="ls-notification-curtain" style="left: 1716px;">
    <h3 class="ls-title-2">Notificações</h3>
    <ul id='notifications-container'>
      <% @notifications.each do |notification| %>
        <li class="ls-dismissable">
          <a href="#"><%= notification.content %></a>
          <a href="https://www.facebook.com/TBTWD/inbox/?selected_item_id=100000294559505" data-ls-module="dismiss" data-notification-id="<%= notification.id %>" class="ls-ico-close ls-close-notification"></a>
        </li>
      <% end %>
    </ul>
  </nav>
</aside>
